<%= form_with models: [@post, @comment] do |f| %>

<h3>コメント投稿</h3>
  <div class="field">
    <%= f.label :titile %>
    <%= f.text_field :titile %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
