<%= form_with models: [@post, @comment] do |form| %>

<h3>コメント投稿</h3>
  <div class="field">
    <%= form.label :titile %>
    <%= form.text_field :titile %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
