<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>性別:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>備考:</strong>
  <%= @user.remarks %>
</p>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', users_path %>
