<p id="notice"><%= notice %></p>
<h2>投稿詳細</h2>
<p>
  <strong>タイトル:</strong>
  <%= @post.titile %>
</p>

<p>
  <strong>本文:</strong>
  <%= @post.body %>
</p>
<%= render 'comments/form', comment: @comment %>
<%= render 'comments/show', comment: @comment %>
