<p id="notice"><%= notice %></p>
<h2>投稿詳細</h2>
<p>
  <strong>タイトル:</strong>
  <%= @post.titile %>
</p>

<p>
  <strong>本文:</strong>
  <%= @post.body %>
</p>
<%= render 'comments/form', comment: @comment %>

<h3>コメント一覧</h3>
<% @comments.each do |comment| %>
  <table class="table-light table-bordered text-dark">
    <tbody>
      <tr>
        <td>
            <p>
              <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>:</strong>
              <%= post.comment.titile %>
              <%= post.comment.body %>
              <%= link_to "コメント編集", edit_post_comment_path(comment), method: :post %>
              <%= link_to "コメント削除", post.comment, method: :delete, data: { confirm: '削除してよろしいですか？' } %>
            </p>
        </td>
      </tr>     
    </tbody>
  </table>
<% end %>

<%= link_to '記事編集', root_path %> |
<%= link_to '戻る', root_path %>
