<!DOCTYPE html>
<html>
  <head>
    <title>RailsRareDisease</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= javascript_pack_tag 'hello_vue' %>
  <%= stylesheet_pack_tag 'hello_vue'  %> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <%= link_to "Rare Disease", root_path, id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to "ユーザー一覧", users_path %></li>
                <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "ログアウト", users_sign_out_path, method: "delete" %></li>
              <% else %>
                <li><%= link_to "ログイン", new_user_session_path %></li>
                <li><%= link_to "会員登録", new_user_registration_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </header>
    <%= yield %>
  </body>
</html>
