<!DOCTYPE html>
<html>
  <head>
    <title>RailsRareDisease</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue'  %>
  </head>
  <body>
  <div class="align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div><%= render partial: "layouts/header" %></div>
      <div id="hello"><p>{{ message }}</p></div>
      <%= yield %>
  </div>
  </body>
</html>
